<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>five day weather app</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="./assests/css/materialize/css/materialize.css"
    />
    <link rel="stylesheet" href="./assests/css/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <nav>
          <div class="nav-wrapper purple darken-3">
            <a href="#!" class="brand-logo center">Weather App</a>
          </div>
        </nav>
      </header>
      <div class="row">
        <ul id="slide-out" class="sidenav">
          <li class="headers">Past searches</li>
          <li v-for="past in pastcities">
            <button @click="pastSearch(past)" class="btn-small teal darken-1">
              {{past}}
            </button>
          </li>
        </ul>
        <button
          data-target="slide-out"
          class="sidenav-trigger btn-small   teal darken-1 col s2 m1"
        >
          history
        </button>
      </div>
      <main class="container">
        <div class="row ">
          <form v-on:submit.prevent="search()">
            <div class="input-field col s6 m3">
              <i class="material-icons prefix">search</i>
              <input
                id="icon_prefix"
                type="text"
                class="validate"
                v-model="city"
                pattern="[a-zA-Z `]{3,80}"
                required
              />
              <label for="icon_prefix">City Search</label>
            </div>
          </form>
        </div>

        <div class="row">
          <div v-if="found" class="tn-card-2 col s12">
            <div class="row">
              <h3 class=" col s12">
                {{strcity}} ( {{todayDate}} ) <img :src="src" />
              </h3>
            </div>
            <div class="row">
              <div class=" col s12 ">
                <h6>temperature: {{temp}}&#176;F</h6>
              </div>
            </div>
            <div class="row">
              <div class=" col s12 ">
                <h6>humidity: {{humidity}}</h6>
              </div>
            </div>
            <div class="row">
              <div class=" col s12 ">
                <h6>wind speed: {{wind}}</h6>
              </div>
            </div>
            <div class="row">
              <div class=" col s12 ">
                <h6>
                  UV:
                  <span class="white-text" :style="{backgroundColor: uvcolor}"
                    >{{uv}}
                  </span>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div v-if="found" class="row">
          <week-day v-for="days in fiveDay" :day="days"></week-day>
        </div>
        <div v-if="error" class="row">
          <div class="tn-card-2 col s12 m8">
            <h3 class="col s12">
              There was a problem getting the data
            </h3>
            <p class="col s12">
              Either ran out of free request or something went wrong
            </p>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="assests/js/axios.min.js"></script>
  <script src="assests/js/moment.js"></script>
  <script src="./assests/css/materialize/js/materialize.js"></script>
  <script src="./assests/js/vue.js"></script>
  <script src="./assests/js/main.js"></script>
</html>
